# Sekrety i konfiguracja
.env

# Środowisko wirtualne
venv/
ENV/
.venv/

# Pliki tymczasowe Pythona
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Baza danych i pliki eksportu
db.sqlite3
*.sqlite3
stare_mecze.json

# Pliki systemowe
.DS_Store
Thumbs.db

# Statyczne pliki (opcjonalnie, jeśli używasz collectstatic)
staticfiles/